anytree==2.12.1
asgiref==3.8.1
bcrypt==4.2.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
Django==5.0.7
django-admin-csvexport==2.2
django-appconf==1.0.6
django-compressor==4.5.1
django-libsass==0.9
django-modeltree==0.5
idna==3.8
libsass==0.23.0
mysql-connector-python==8.0.26
mysqlclient==2.2.4
paramiko==3.4.1
protobuf==5.27.3
pycparser==2.22
PyMySQL==1.1.1
PyNaCl==1.5.0
python-dotenv==1.0.1
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
django-admin-volt==1.0.10