{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDPA Assessment - Questions</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <h1>PDPA Assessment Tool for Organisations</h1>
            <a href="/" class="back-to-selection">Back to selection</a>
        </div>
    </header>
    <form action="/sub-cat/{{sub_category.id}}/question/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input hidden name="sub_category" value="{{sub_category.id}}">
        <input hidden name="question" value="{{question.id}}">
        <main>
            <aside class="sidebar">
                <h3>Category Selected</h3>
                <ul>
                    <li class="active"><ion-icon class="icon" name="{{sub_category.icon}}"></ion-icon>
                        {{sub_category.name}} ({{question.sequence}}/{{all_question}})</li>
                </ul>
            </aside>
            <section class="questionnaire">
                <div class="progress">
                    {% for p in progress %}
                    <span class="{{p.class}}">{{p.number}}</span>
                    {% endfor %}

                </div>
                <div class="question">
                    <h2>{{display_question_number}}</h2>
                    <p>{{question.question}}</p>
                    <button class="show-more" type="button">Show More</button>
                    <div class="detail-section" style="display: none;">
                        <p>{{question.details}}</p>
                    </div>
                </div>
                <div class="answers">
                    {% for a in answer %}
                    <label class="answer-option">
                        {% if exist_answer.answer.id == a.id %}
                        <input type="radio" name="answer" value="{{a.id}}" id="answer-{{a.id}}" required checked>{{a.answer}}
                        {% else %}
                        <input type="radio" name="answer" value="{{a.id}}" id="answer-{{a.id}}" required  >{{a.answer}}
                        {% endif %}

                    </label>
                    {% endfor %}
                </div>
                <div class="additional-info">
                    <label for="implemented-measures">List Implemented Measures</label>
                    <textarea name="text_measurement" id="implemented-measures"
                        placeholder="This could include policies, procedures, forms, response plans or contracts."></textarea>
                    {% if question.is_request_file is True %}
                        {{document_form.as_p}}
                    {% endif %}
                </div>
                <div class="actions">
                    {% if previous_question.id %}
                    <a style="visibility: visible;" href="/sub-cat/{{sub_category.id}}/question/?question_id={{previous_question.id}}">
                        <button class="back" type="button">Back to Previous</button></a>
                    {% else %}
                    <a style="visibility: hidden;" href="/sub-cat/{{sub_category.id}}/question/?question_id={{previous_question.id}}">
                        <button class="back" type="button">Back to Previous</button></a>
                    {% endif %}
                    
                    <button class="next" type="submit">Next</button>
                </div>
            </section>
        </main>
    </form>

    <pre>{{exist_answer.answer.id}}</pre>


    <footer>
        <p>&copy; 2024 Noom pdpa. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/question.js' %}"></script>
    <!-- Icons from https://ionic.io/ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>