{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDPA Assessment - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/authen.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>PDPA Assessment Tool for Organisations</h1>
            <a href="/sign-in" class="back-to-selection">Sign In</a>
        </div>
    </header>

    <main>
        <section class="register">
            <h2>Sign Up</h2>
            <form action="/sign-up" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <div class="checkbox-wrapper">
                        <input type="checkbox" id="toggle-password" onclick="togglePassword('password')">
                        <label for="toggle-password">Show Password</label>
                    </div>
                </div>

                <div class="separator"></div> <!-- Separator between sections -->

                <div class="form-group">
                    <label for="server-url">Server URL:</label>
                    <input type="url" id="server-url" name="server_url" required>
                </div>
                <div class="form-group">
                    <label for="server-username">SSH Username:</label>
                    <input type="text" id="server-username" name="ssh_user" required>
                </div>
                <div class="form-group">
                    <label for="server-password">SSH Password:</label>
                    <input type="password" id="server-password" name="ssh_password" required>
                    <div class="checkbox-wrapper">
                        <input type="checkbox" id="toggle-server-password" onclick="togglePassword('server-password')">
                        <label for="toggle-server-password">Show Password</label>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="submit-btn">Sign Up</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Noom pdpa. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/authen.js' %}"></script>
</body>
</html>
