{% extends "layouts/base.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
{% endblock %}


{% block content %}
    <div class="row mx-3 mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    
                    <h2>Welcome to PDPC PDPA Compliance Audit Support System.</h2>
         
                </div>
            </div>
        </div>
    </div>
{% endblock %}